* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Futura PT Heavy";
}

:root {
  --white: #ffffff;
  --orange-color-1: #db380f;
  --orange-color-2: #fd5e37;
  --peach-color: #f8735d;
  --grey-color: #3c3c3b;
  --yellow-color: #fcc75d;
  --orange-color-1: #fd5e37;
}

body {
  height: 100vh;
}

a{
  text-decoration: none;
color:var(--dark-orange);
}

.top-nav{
  background-color:var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.container {
  max-width: calc(1500px + 60px);
margin: 0 auto;
padding-left: 30px;
padding-right: 30px;
}

.container-inner {
display: flex;
justify-content: space-between;
align-items: center;
}

