* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Futura PT Heavy";
}

:root {
  --white: #ffffff;
  --dark-orange: #db380f;
  --light-orange: #fd5e37;
  --peach-color: #f8735d;
  --grey-color: #3c3c3b;
  --yellow-color: #fcc75d;
  --orange-color-1: #fd5e37;
}

body {
  background-color: #c7c7c7;
}

a {
  text-decoration: none;
  color: var(--dark-orange);
}

i {
  font-size: 1.3em;
}

.chev-down {
  font-size: 1em;
  color: var(--grey-color);
}

button {
  background-color: var(--dark-orange);
  border: none;
  width: 155px;
  padding: 10px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.05em;
  font-weight: 400;
  font-family: "Futura PT Heavy Italic W08 Rg";
  box-shadow: rgba(14, 30, 37, 0.2) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.2) 0px 2px 16px 0px;
}

.top-nav {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.container {
  max-width: calc(1500px + 60px);
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  flex-basis: 155px;
  height: 90px;
  margin: 0px;
  display: flex;
}

.logo {
  flex-basis: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-heart {
  flex-basis: 100px;
  height: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 50px;
}

.slogan-container {
  flex-basis: 450px;
  height: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slogan-inner-container {
  font-size: 1.2em;
  color: var(--grey-color);
}

.bottom-slogan-wrapper {
  display: flex;
  justify-content: center;
}

.bottom-slogan-txt-small {
  font-size: 0.8em;
}

.bold {
  font-family: "Futura PT Heavy Italic W08 Rg";
  font-weight: 700;
}

.user-signin {
  flex-basis: 100px;
  height: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.signin-color {
  color: var(--grey-color);
}

.button-container {
  flex-basis: 155px;
  height: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
